@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;1,200;1,800&display=swap');
@import '../scss/mixins.scss';

* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.app {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .header {
    color: white;
    padding: 30px 0 40px;
    flex-shrink: 1;
    background-color: #191919;
    position: fixed;
    transition: all 0.3s ease-in-out;

    top: 0;
    bottom: 0;
    left: 0;
    right: 80px;

    z-index: 100;
    transform: translateX(-100%);

    &.active {
      transform: translateX(0);
    }

    @include desktop {
      position: static;
      transform: translateX(0);
    }
  }

  .content {
    flex-grow: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    @include desktop {
      position: static;
      padding-bottom: 40px;
    }
  }
}
