@import '../../scss/mixins.scss';

.feed-item {
  border-radius: 12px;
  color: white;
  background-color: #222831;
  margin-bottom: 16px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;

  .feed-image {
    position: relative;
    width: 100%;
    min-height: 30px;

    @include desktop {
      min-height: 120px;
    }

    span {
      position: absolute;
      background-color: #00000085;
      padding: 4px 8px;
      font-size: 8px;
      border-radius: 4px;
      top: 16px;
      left: 16px;

      @include desktop {
        font-size: 12px;
      }
    }

    img {
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      width: 100%;
    }
  }

  .feed-content {
    padding: 0px 14px 4px;
    font-size: 14px;
    word-break: break-word;

    @include desktop {
      padding: 12px 16px 16px;
      font-size: 16px;
    }
  }

  .feed-footer {
    border-top: 0.2px solid rgba(255, 255, 255, 0.726);
    padding: 8px 16px;
    align-items: center;
    display: flex;
    justify-content: space-between;

    @include desktop {
      padding: 16px;
    }

    span {
      font-size: 10px;
      text-transform: capitalize;
      font-weight: 600;
      letter-spacing: 0.2px;
      color: rgba(255, 255, 255, 0.609);

      @include desktop {
        font-size: 14px;
      }
    }

    .feed-actions {
      display: flex;
      align-items: center;

      svg {
        display: inline-block;
        margin-left: 16px;
        width: 18px;
      }
    }
  }
}
